---
interface Props {
  chips?: string[];
}

const { chips = [] } = Astro.props;
---

{chips.length > 0 && (
  <div class="kb-chip-row">
    {chips.map((chip) => <span class="kb-chip">{chip}</span>)}
  </div>
)}
