---
import Badge from "./Badge.astro";

interface Props {
  badge: string;
  title: string;
  text: string;
}

const { badge, title, text } = Astro.props;
---

<div class="kb-section-head">
  <div>
    <Badge label={badge} />
    <h2 style="margin-top:1rem">{title}</h2>
  </div>
  <p>{text}</p>
</div>
